<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <mat-list-item (click)="sidenav.close()" routerLink="/files">
        <mat-icon>list</mat-icon>Prácticas
      </mat-list-item>
      <mat-list-item (click)="sidenav.close()" routerLink="/files/new">
        <mat-icon>add</mat-icon>Añadir Práctica
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-navigation (sidenavToggle)="sidenav.toggle()"></app-navigation>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>